@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
:root {
  --purple: #eed8fd;
  --seablue: #b4e9f9;
  --blu: #4895ef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: var(--seablue);
}

.header h1,
.header h6 {
  color: var(--blu);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding-left: 10px;
}
.container p {
  /* margin: 5px; */
}

li {
  display: inline;
  list-style-type: none;
  margin: 7px 20px;
  border: 1px solid rgb(182, 181, 181);
  padding: 2px 7px;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  background-color: var(--blu);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  max-width: 40%;
  align-self: center;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  background-color: var(--purple);
  margin: 8px;
  padding: 1px;
}

.note.expand {
  min-height: 400;
  color: blue;
}

.note h3 {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 10px 10px;
  font-weight: normal;
}

.note ul li {
  cursor: pointer;
  margin: 1em;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  background-color: var(--purple);
  border: none;
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-content: center;
}

.form-control label {
  justify-self: flex-start;
}

.form-control input {
  padding: 2px 8px;
  border: none;
  opacity: 0.8;
}
.form-control input:focus {
  outline: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}
