@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
:root {
  --purple: #eed8fd;
  --seagreen: #6ee4a3;
  --blu: #4895ef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 240vh;
  width: 100vw;
  background: url(/src/img/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg) no-repeat
    center center / cover;
  color: white;
}
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

.header h1,
.header h6 {
  color: var(--seagreen);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding-left: 10px;
}
p.updated {
  text-align: right;
  margin-right: 20px;
  text-decoration: underline;
}

li {
  display: inline;
  list-style-type: none;
  margin: 7px 20px;
  border: 1px solid rgb(182, 181, 181);
  padding: 2px 7px;
}

.btn {
  background-color: var(--seagreen);
  color: black;
  padding: 0 0;
  transition: 0.2s ease-in;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  border: white 1px solid;
  transform: scale(1.2);
}

.btn:active {
  transform: scale(0.98);
}

header .btn {
  margin-right: 10px;
  padding: 10px;
}

.note {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.note.expand {
  min-height: 400;
  color: blue;
  max-width: 30vw;
}

.note h3 {
  font-weight: normal;
  display: inline;
  margin: 0;
  color: var(--seagreen);
}
.body-container {
  display: flex;
  justify-content: space-between;
}
.body-container .updated {
  margin: 10px;
}

.note ul li {
  cursor: pointer;
  margin: 1em;
}
.add-form.note {
  border: 1px solid black;
  width: 40vw;
  animation: formopen 2s;
}
.note :nth-child(2) {
  height: 2em;
  margin-left: 1em;
}

@keyframes formopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.form-control {
  border: none;
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-content: center;
}

.form-control label {
  justify-self: flex-start;
}

.form-control input {
  padding: 2px 8px;
  border: none;
  opacity: 0.8;
}
.form-control input:focus {
  outline: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}
